@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&family=La+Belle+Aurore&display=swap');

body {
  overflow-x: hidden;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif !important;
}